fastapi==0.115.9
uvicorn[standard]==0.34.0
python-multipart==0.0.20
chromadb==1.0.7
google-genai==1.11.0
llama-parse==0.6.18
pydantic==2.11.3
streamlit==1.44.1
requests==2.32.3
groq==0.24.0
openai==1.76.0
